* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alert-info {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 9%;
    align-items: center;
}

.alert-info a {
    display: flex;
    background-color: #CBFCFD;
    width: 90%;
    height: 80%;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    border: 1px solid lightgray;
}



