* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 95%;
    margin: 1em auto;

}

.alert-info {
    text-align: center;
}

.alert-info a {
    display: block;
    padding: 1em 0;
    border: 1px solid lightgrey;
    background: #D6FEFE;
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    padding: 10px 0;
}

.nav-links {
    padding: .5em 0;
    text-align: center;
    list-style: none;
}

.nav-links a {
    display: block;
    background: lightgrey;
    margin: .5em 0;
    padding: .9em 0;
}

img {
    width: 100%;
    height: auto;
}

.main {
    margin: 1em 0;
}

.sub-section {
    margin: 2em 0 5em 0;
}

h2 {
    padding-bottom: .6em;
}

@media screen and (min-width: 1200px){

    .hidden-on-desktop {
        display: none;
    }

    h1 {
        float: left;
        font-size: 3em;
        margin: 1em 0;
    }

    .nav-links {
        float: right;
        margin: 2em 0;
        font-size: 1.3em;
    }

    .nav-links li {
        display: inline-block;
        margin-left: 1em;
    }

    .nav-links a {
        background-color: white;
    }
    
    /*.main {*/
    /*    width: 60%;*/
    /*    float: left;*/
    /*    !*padding-right: 1em;*!*/
    /*}*/

    /*.sub-section {*/
    /*    width: ;*/
    /*    float: left;*/
    /*}*/
    .main {
        display: inline-block;
        width: 60%;
        float: left;
    }

    .sub-section {
        display: inline-block;
        width: 40%;
        float: left;
        margin-top: 1em;
    }

    footer {
        clear: both;
        margin-top: 30em;
    }

    h2 {
        margin-bottom: 2em;
    }
}